:root {
  --primary-color: #065091;
  --secondary-color: #ffffff;
  --color1: #000000;
  --font-size-base: clamp(16px, 1.5vw, 20px);
  --spacing: clamp(8px, 2vw, 24px);
  --container-width: clamp(300px, 80%, 1200px);
  --font-size-h1: clamp(24px, 5vw, 48px);
}

.hero img {
    position: relative;
    width: 100%;
    height: 100%;
}

footer {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}
