
:root {
    --primary-color: #ffffff;
    --secondary-color: #eb8d13;
    --font-family: Arial, sans-serif;
    --font-size: 16px;
    --line-height: 1.5;
}

header, span {
    display: grid;
    grid-template-columns: 150px auto;
    align-items: center;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.profile-pic {
    width: 250px;
    height: auto;
    border-radius: 90%;
    display: grid;
    justify-content: right;
}
