
:root {
    --primary-color: #ffffff;
    --secondary-color: #eb8d13;
    --font-family: Arial, sans-serif;
    --font-size: 16px;
    --line-height: 1.5;
}

header {
    display: grid;
    grid-template-columns: 150px auto;
    align-items: center;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}
span #course-title {
    font-size: 1.5em;
    font-weight: bold;
    padding-left: 20px;
    display: grid;
    justify-content: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.profile-pic {
    width: 250px;
    height: auto;
    border-radius: 90%;
    display: grid;
    justify-content: right;
}

.aboutme {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    border: #eb8d13 solid 15px;
    border-radius: 5%;
}
