
:root {
    --primary-color: #ffffff;
    --secondary-color: #eb8d13;
    --tertiary-color: #111111;
    --font-family: 'Times New Roman', sans-serif;
    --font-size: 16px;
    --line-height: 1.5;
}

header {
    display: grid;
    grid-template-columns: 150px auto;
    grid-row: auto;
    align-items: center;
    margin: auto;
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
   
}
span {
    font-size: 1.5em;
    font-weight: bold;
    padding-left: 20px;
    display: grid;
    justify-content: center;
}

.menu a {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 1.2em;
    padding: 10px 15px;
    transition: background-color 0.3s ease;

}


nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.profile-pic {
    width: 350px;
    height: auto;
    border-radius: 99%;
    display: grid;
    justify-content: center;
    border-color: var(--secondary-color);
    border-width: 10px;
    border-style: solid;
}

.card {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 20px;
    border: #eb8d13 solid 15px;
    border-radius: 5%;
    padding: 5rem 5rem 5rem 5rem;
}

main {
    display: grid;
    gap: 20px;
    margin: 20px;
}

h1 {
    font-size: 2.5em;
    color: var(--tertiary-color);
    text-align: center;
}



