:root {
    --main-bg: #c5f0e4;
    --form-bg: #47595c;
    --dark-purple: #016a63;
    --white: #ffffff;
    --black: #111111;
    --blue: #2a33cc;

    --base-font: clamp(16px, 1.5vw, 20px);
    --heading-font: clamp(28px, 4vw, 42px);
    --space: clamp(10px, 2vw, 20px);
    --form-width: clamp(300px, 90%, 650px);
}

h1 {
    text-align: center;
    color: var(--white);
    background-color: var(--dark-purple);
    padding: var(--space);
}

body {
    background-color: var(--main-bg);
    color: var(--black);
    font-size: var(--base-font);
    line-height: var(--line-height);
    padding: var(--space);
    display: grid;
    grid-template-rows: auto 1fr auto;
}


footer {
    background-color: var(--form-bg);
    color: var(--white);
    text-align: center;
    padding: var(--space);
}

.review-form {
    width: var(--form-width);
    margin: 0 auto;
    padding: var(--space);
    border: 1px solid #b8b0b8;
    border-radius: 6px;
    display: grid;
    gap: var(--space);
}

.review-form label {
    display: block;
    margin-bottom: 5px;
}

@media (max-width: 500px) {
    .review-form {
        width: 100%;
        padding: var(--space);
    }
}