
:root{
    --primary-color: #ffffff;
    --secondary-color: #000000;
    --accent-color: #007bff;
    --font-family: 'Arial', sans-serif;
    --color1: #26bfbc;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: var(--accent-color);
    text-align: center;
    border: var(--color1) 5px solid;
    margin: 20px;
    border-radius: 10px;
}

.card {
    position: absolute;
    background-color: var(--accent-color);
    border: var(--color1) 5px solid;
    border-radius: 10px;
    padding: 20px;  
    margin: 20px;
    width: 250px;
}

.top-box {
    top: 20px;
    left: 20px;
}

.bottom-box {
    bottom: 20px;
    right: 20px;
}

h1{
    color: var(--secondary-color);
    padding: 10px; ;
}

.hero {
    position: relative; 
}

.weather-title::after {
    content: " ☀️";
    
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
}

footer {
    background-color: var(--accent-color);
    color: var(--secondary-color);
    border: var(--color1) 5px solid;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
}

