@media screen and (min-width: 800px) {
    body {
        margin: 0;
        padding: 0;
    }

    header {
        text-align: center;
        padding: 20px;
        margin: 20px;
        border-radius: 10px;
    }

    main {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 20px;
    }
    
}
