.temples-main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.temples-main h1 {
    grid-column: 1 / 4;
    text-align: center;
}

#menu-button {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
}

.menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

@media (max-width: 600px) {
    .menu {
        display: none;
        flex-direction: column;
        
    }

    #menu-button {
        display: flex;
    }
}

#title {
    text-align: center;
    grid-column: 1 / 4;
    color: var(--primary-color);
}

.temple-card img {
    width: 100%;
    height: auto;
}

.temple-card figcaption {
    text-align: center;
}